#navigation {
    display:flex;
     width: 100%;
     height: 45px;
     background: white;
     border: solid 1px black;
     border-radius: 28px;
     text-align: center;
     justify-content: center;
   }
   
   li:not(.different) {
     display: inline;
     text-transform: uppercase;
     text-decoration: none;
     transition: .3s;
     padding: 20px;
     font-size: 30px;
     position: relative;
     top: -15px;
     left: -20px;
   }
   
   li:hover:not(.different) {
     text-shadow: 1px 1px 1px #aaa;
     font-size: 25px;
   }
   
   a:not(.different) {
     text-decoration: none;
     color: black;
   }